<br>

<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Result</th>
        <th></th>

    </tr>

<%for workout in @past_workouts%>
    <tr>
        <td> <%=workout.name%></td>
        <td> <%=workout.date%></td>
        <td><img src="<%=@result_icons[workout.overall_result]%>"></td>
        <td><form action="/workouts/<%=workout.id%>/results" method="get">
                <input type="submit" value="View details">    
            </form>
        </td>
    </tr>
        
<%end%>

</table>
