<h1>Create workout</h1>

<p> Give your workout a name </p>
<form class="" action="/workouts/create" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name"  >
    <input type="submit" value="Create workout">
</form>