<h1>Create workout</h1>

<p> Give your workout a name and date </p>
<form class="" action="/workouts/create" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name"  >
    <input type="submit" value="Create workout">

    <label for="date">Workout date: </label>
    <input type="date" id="date" name="date" value="<%=Date.today()%>">
    </select>

</form>