
<p>Are you sure you want to delete the workout <%=@workout.name%>?<p>

<form class="" action="/workouts/<%=@workout.id %>/delete" method="post">
  <input type="submit" value="Yes">
</form>

<form class="" action="/workouts/<%=@workout.id %>" method="get">
  <input type="submit" value="No">
</form>