<p> Editing workout: <%=@workout.name%></p>

<br>

<form class="input-block" action="/workouts/<%=@workout.id%>/edit" method="post">
    <label for="name">name: </label>
    <input id="name" type="text" name="name" value ="<%=@workout.name%>" >

    <label for="date">workout date: </label>
    <input type="date" id="date" name="date" value="<%=@workout.date%>">

    <input type="submit" value="Next">

</form>


