<h1>Future sessions</h1>

    <a href="/workouts/create"><button type="button" name="create">Add workout</button></a>


<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th></th>
        <th></th>

    </tr>
    
<%for workout in @future_workouts%>
    <tr>
        <td><%=workout.name%></td>
        <td> <%=workout.date%></td>
        <td><a href="/workouts/<%=workout.id%>"><button type="button" name="delete">View details</button></a></td>
        <%if Date.today().to_s == workout.date%>
            <td><a href="/workouts/<%=workout.id%>/run"><button type="button" name="run">Run</button></a></td>
        <%end%>
    </tr>
<%end%>

</table>