<h1>This is the future sessions page</h1>

<%for workout in @all_workouts%>
<ul>
    <li>Name: <%=workout.name%>, Complete : <%=workout.complete%></li>
    <a href="/workouts/<%=workout.id%>"><button type="button" name="delete">View details</button></a>
</ul>
<%end%>