<h1>Past sessions</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Result</th>
        <th></th>

    </tr>

<%for workout in @all_workouts%>
    <% if (workout.complete === true) %>
        <tr>
            <td> Name: <%=workout.name%></td>
            <td><img src="<%=@result_icons[workout.overall_result]%>"></td>
            <td><a href="/workouts/<%=workout.id%>/results"><button type="button" name="workout_results">View details</button></a></td>
        </tr>
        
    <%end%>
<%end%>

</table>
