<h1>past sessions</h1>

<table>
    <tr>
        <th>name</th>
        <th>date</th>
        <th>result</th>
        <th></th>

    </tr>

<%for workout in @past_workouts%>
    <tr>
        <td> <%=workout.name%></td>
        <td> <%=workout.date%></td>
        <td><img src="<%=@result_icons[workout.overall_result]%>"></td>
        <td><a href="/workouts/<%=workout.id%>/results"><button type="button" name="workout_results">view details</button></a></td>
    </tr>
        
<%end%>

</table>
