<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>climb_track</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    </head>

    <body>

        <div class="header-nav">
            
                <header>
                    <h1>climb_track</h1>
                </header>

                <nav>
                    <ul>
                        <li><a href="/future">future sessions</a></li>
                        <li><a href="/">past sessions</a></li>
                        <li><a href="/exercises">exercises</a></li>
                        <li><a href="/help">help</a></li>
                    </ul>
                </nav>

        </div>

        <main>
            <article>
                <%= yield %>
            </article>
        </main>

        <footer>
        </footer>

    </body>


</html>