<p> Are you sure you want to delete the exercise: <%=@exercise.name%></p>
<form class="delete-confirm-button" action="/exercises/<%=@exercise.id%>/delete" method="post">
    <input type="submit" value="Yes">
</form></span>

<form class="confirm-buttons" action="/exercises" method="get">
    <input type="submit" value="No">
</form>

