<h1>Add new exercise</h1>

<form class="" action="/exercises" method="post">
    
    <input type="submit" value="Create exercise">

    <label for="Name">Name</label>
    <input id="Name" type="text" name="name">

    <label for="Sets">Sets</label>
    <input id="Sets" type="number" name="sets">

    <label for="Reps">Reps</label>
    <input id="Reps" type="number" name="reps">

    <label for="Notes">Notes</label>
    <input id="Notes" type="text" name="notes">

</form>