<h1>create new exercise</h1>

<form class="input-block" action="/exercises" method="post">
    
    <label for="Name">name:</label>
    <input id="Name" type="text" name="name">

    <label for="Sets">sets:</label>
    <input id="Sets" type="number" name="sets">

    <label for="Reps">reps:</label>
    <input id="Reps" type="number" name="reps">

    <p><label for="Notes">notes:</label><p>
    <textarea class="input-notes" id="Notes" name="notes"></textarea>

    <p><input type="submit" value="Create exercise"></p>

</form>