<h2>Create new exercise</h2>

<form class="input-block" action="/exercises" method="post">
    
    <label for="Name">Name:</label>
    <input id="Name" type="text" name="Name">

    <label for="Sets">Sets:</label>
    <input id="Sets" type="number" name="sets">

    <label for="Reps">Reps:</label>
    <input id="Reps" type="number" name="reps">

    <p><label for="Notes">Notes:</label><p>
    <textarea class="input-notes" id="Notes" name="notes"></textarea>

    <p><input type="submit" value="Create exercise"></p>

</form>