<h1>create new exercise</h1>

<form class="" action="/exercises" method="post">
    
    <label for="Name">name:</label>
    <input id="Name" type="text" name="name">

    <label for="Sets">sets:</label>
    <input id="Sets" type="number" name="sets">

    <label for="Reps">reps:</label>
    <input id="Reps" type="number" name="reps">

    <label for="Notes">notes:</label>
    <input id="Notes" type="text" name="notes">

    <input type="submit" value="Create exercise">

</form>