* {
    margin: 0;
    padding: 0;
    font-family: futura;
}

.header-nav {
    display: grid;
    border-bottom: 5px solid #798486;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    background-color: #3b6fc4;
}

header {
    text-align: center;
    margin: 5px;
}

nav {
    font-weight: 400;
    margin-bottom: 10px;
    /* float: right; */
    align-items: center;


}

nav a {
    text-decoration: none;
    color: #f1e3dd;
    
}

nav a:hover {
    text-decoration: none;
    color: #bccad6;
}


nav ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);   
    grid-column-gap: 1em;
    justify-content: center;
    align-items: center;
}

nav li {
    display: block;
    font-size: 18px;
}


body {
    background-color: #f4f4f4;
    
}

main {
    margin: 10px;

}

footer {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

footer p {
    color: #798486;
}

.warning {
    color: red;
}



table {
    width: 100%;
    text-align: center;

}

table th, td {
    border-bottom: 1px solid #ddd;

}

button {
    display: inline;
}

