<h2>Creating new workout...</h2>


<form class="input-block" action="/workouts/create" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name"  >

    <label for="date">Workout date: </label>
    <input type="date" id="date" name="date" value="<%=Date.today()%>">

    <input type="submit" value="Create workout">    
    </select>

</form>